@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Minha escola</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Seja bem vindo a minha escola</h2>
        <p>Projeto de exemplo e demonstração com utilização de Entity Framework Core e ASP.Net Core MVC aplicação web.</p>
    </div>
    <div class="col-md-4">
        <h2>Tutorial utilizado abaixo</h2>
        <p>O aplicativo pode ser feito passo a passo conforme tutorial abaixo</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/pt-br/aspnet/core/data/ef-mvc/?view=aspnetcore-2.0">Veja o tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Baixar o projeto</h2>
        <p>Esse projeto poderá ser baixado no GitHub pelo link abaixo.</p>
        <p><a class="btn btn-default" href="https://github.com/Viniciustes/MySchool">Veja o código fonte do projeto &raquo;</a></p>
    </div>
</div>